body {
	overflow:auto;
	top: 0;
	width: 100%;
    height: 100%;
}

/* #container { */
/* 	opacity: 0.2; */
/* 	background: rgba(0,0,0); */
/* 	opacity: 0.85; */
/* 	color: #FFFFFF; */
/* 	text-align: center; */
/* 	width: 100%; */
/* 	height: 100%; */
/* 	position: fixed; */
/*     top: 0; */
/*     left: 0; */
/*     z-index: 100; */
/*     font-size: 5em; */
/*     display: flex; */
/*     align-items: center; */
/*   	flex-direction: row; */
/*   	justify-content: center; */
/* } */

/* #p{ */
/* /* 	width: 50%; */ */
/* /* 	height: 30%; */ */
/* 	position: relative; */
/* 	left: 50%; */
/*   	transform: translateY( -50% ); */
/* /*   	border: 5px solid yellow; */ */
/* } */

/** payment_section start **/
.upper_area{
	position: relative;
	background-color: #FFFFFF;
	top: 0;
	display: flex;
}

.upper_area .title {
	position: relative;
	height: 130px;
/* 	border: 1px solid red; */
	text-align: center;
	justify-content: center;
}

.upper_area .title span {
/* 	border: 1px solid blue; */
	line-height: 130px;
	margin: 5% auto;
	font-size: 45px;
	font-weight: bold;
	color: #222222;
	letter-spacing: -1.35px;
}

/* .img_area img{ */
/* 	width: 100%; */
/* 	display: block; */
/* 	opacity: 0.8; */
/* } */

#payment {
	width: 800px;
	margin: 0 auto;
	min-height: 950px;
	padding-top: 2%;
	overflow:auto;
/* 	pointer-events: none; 클릭 막아놓기 */
}

#payment .info_area {
	width: 100%;
	height: 300px;
	display: flex;
	box-sizing: border-box;
	padding: 3% 10%;
	justify-content: space-between;
	align-items: center;
}

#payment .info_area #container_info {
	width: 800%;
	height: 100%;
	display: flex;
	box-sizing: border-box;
	padding: 3% 3%;
	justify-content: space-between;
	align-items: center;
	background-color: #F7F7F7;
	border: 1px solid #C7C7C7;
}

#payment .info_area .img_area {
	width: 30%;
	height: 100%;
}

#payment .info_area .img_area img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 1;
}

#payment .info_area .text_area {
	width: 65%;
}

#payment .info_area .text_area ul li {
	padding-bottom: 2%;
/* 	margin-bottom: 7%; */
/* 	text-indent: 2%; */
}

#payment .info_area .text_area ul .title {
	font-size: 1.6rem;
	margin-bottom: 3%;
	border: none;
	font-weight: bold;
}

#payment .choice_area {
	width: 100%;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 3% 10%;
	height: 400px;
}

#payment .choice_area .information_area {
	width: 49%;
    border: solid 1px #C7C7C7;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#payment .choice_area .information_area .title_area {
	text-align: center;
	border-bottom: 1px solid #C7C7C7;
	padding: 2%;
	height: 10%;
	box-sizing: border-box;
	background-color: #E5E5E5;
}

#payment .choice_area .information_area .input_area {
	width: 100%;
	padding: 0;
	height: 90%;
	margin: 0;
}

#payment .choice_area .information_area .input_area table {
	margin: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 3% 6%;
    height: 100%;
}

#payment .choice_area .information_area .input_area table tr td input {
	height: 40px;
	cursor: pointer;
	border: 1px solid #E5E5E5;
	background-color: #FFFFFF;
}

#payment .choice_area .personnel_area {
	width: 49%;
    border: solid 1px #C7C7C7;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#payment .choice_area .personnel_area .title_area {
	text-align: center;
	border-bottom: 1px solid #C7C7C7;
	padding: 2%;
	height: 10%;
    box-sizing: border-box;
    background-color: #E5E5E5;
}

#payment .choice_area .personnel_area .input_area {
	height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 6%;
}

#payment .choice_area .personnel_area .input_area ul {
	height: 100%;
}

#payment .choice_area .personnel_area .input_area ul li {
	width: calc(100%/ 3);
	margin-top: 3%;
/* 	background-color: #F7F7F7; */
}

#payment .choice_area .personnel_area .input_area .select_area {
	display: flex;
    justify-content: space-between;
    height: 80%;
}

#payment .choice_area .personnel_area .input_area .select_area li .select_item li{
	background-color : #F7F7F7;
	width: 100%;
	height:100%;
	padding: 5% 5%;
}

#payment .choice_area .personnel_area .input_area ul li .select_item
	{
	display: flex;
	/* height: 85%; */
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

#payment .choice_area .personnel_area .input_area .select_area li .select_item li select{
	border-color: #EA933C;
	cursor: pointer;
}

#payment .choice_area .personnel_area .input_area .select_area li .select_item li span
	{
	margin-right: 7%;
	margin-left: 3%;
}

#payment .choice_area .personnel_area .input_area .payment_area {
	display: flex;
/*     justify-content: space-between; */
/*     border-top: 1px solid #F7F7F7; */
    height: auto;
/*     padding: 2% 5%; */
    width: 100%;
    margin-left: 3%;
}

#payment .choice_area .personnel_area .input_area .payment_area .payment_btn
	{
	background-color: #EF8E24;
	border: 1px solid #EF8E24;
	border-radius: 19px;
	color: white;
	width: 70px;
	height: 25px;
/* 	padding: 4% 13%; */
/* 	margin-top: -2%; */
/* 	margin-right: 7%; */
	cursor: pointer;
}

/** payment_section end **/