html {
	min-height: 100%;
	position: relative;
	width: 100%;
}

#login {
	width: 100%;
	height: auto;
	min-height: 100%;
    margin: 0 auto;
	display: flex;
    justify-content: space-between;
    padding: 7% 0 7% 0;
}

#login #login_wrap{
	width: 1280px;
    margin: 0 auto;
    display: flex;
}

#login img{
	width: 55px;
}

#login .content_area {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	margin: 0 10%;
/* 	margin-left: 30%; */
/* 	margin-right: 30%; */
}

#login .login_area {
	width: 45%;
    box-sizing: border-box;
}

#login .line_area{
	height: 300px;
    width: 1px;
    margin: auto;
}

#login .login_area .title_area {
/*     float: left; */
    text-align: center;
    align-items: center;
    font-family: 'Noto Sans KR, Medium', sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 35px;
/*     margin-left: 65px; */
}

#login .login_area .input_area {
	width: 100%;
	float: left;
	position: relative;
}

#login .login_area .input_area input {
	width: 95%;
	height: 50px;
/*     float: left; */
    margin-bottom: 12px;
    font-size: 18px;
    text-indent: 2%;
    border: 2px solid #E5E5E5;
    border-radius: 5px;
    margin-left: 1.5%;
}

#login .login_area #login {
    width: 95%;
	height: 50px;
	
    background-color: #EF8E24;
    color: #FFFFFF;
    border: none;
    border-radius: 78px;
    
    font-family: 'Noto Sans KR, Regular', sans-serif;
    font-size: 20px;
    text-align: center;
    
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    
    margin-top: 30px;
}

#login .login_area .remember_area {
	width: 100%;
    float: left;
    margin-bottom: 7%;
    margin-left: 1%;
}

#login .login_area .remember_area input {
	float: left;
}

#login .login_area .remember_area p {
	width: auto;
	float: left;
	margin: 0;
	margin-left: 6px;
	font-size: 0.8em;
	opacity: 0.6;
}

#login .login_area .login_sub_area {
	width: 100%;
    float: left;
    margin-top: 5%;
/*     border-top: solid; */
/*     border-width: 1px; */
/*     border-color: #D0D0D0; */
}

#login .login_area .login_sub_area .sub_area
	{
	width: 98%;
	float: left;
	margin: 0 auto;
	display: flex;
    flex-direction: column;
    align-items: center;
}

#login .login_area .login_sub_area .sub_area .input_area{
	text-align: center;
    font-size: 0.9em;
}

#login .login_area .login_sub_area .sub_area .input_area a{
	text-decoration: none;
    color: #222222;
    padding: 0 1% 0 2%;
}