p{
	margin: 0;
}

#detail{
	width: 1024px;
	margin: 0 auto;
    box-sizing: border-box;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
}

#detail .title_area{
	font-size: 30px;
    font-weight: bold;
    margin-bottom: 5%;
}

#detail .contents_area{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 600px;
}

#detail .contents_area .img_area{
	width: 55%;
	height: 100%;
    border: solid 1px #707070;
}

#detail .contents_area .img_area img{
	width: 100%;
	height: 100%;
	display: block;
}

#detail .contents_area .text_area{
	width: 43%;
	display: flex;
    flex-direction: column;
    height: 100%;
}

#detail .contents_area .text_area .content_area{
	display: flex;
    justify-content: space-between;
    height: 15%;
    align-items: center;
}

#detail .contents_area .text_area .content_area div:first-child{
	width: 23%;
    background-color: #EA933C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 80px;
    font-size: 20px;
    font-weight: bold;
}

#detail .contents_area .text_area .content_area div:last-child{
	width: 73%;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #333333;
}

#detail .contents_area .info_area{
	box-sizing: border-box;
    padding-left: 2%;
    border-top: solid;
    border-width: 2px;
    border-color: #707070;
    margin-top: 5%;
    height: 85%;
}

#detail .contents_area .info_area ul{
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#detail .contents_area .info_area ul li{
	display: flex;
    flex-direction: row;
    margin: 5% 0;
    align-items: center;
}

#detail .contents_area .info_area ul li .left{
	width: 25%;
    font-size: 1.1rem;
    font-weight: bold;
}

#detail .contents_area .info_area ul li .right{
	width: 75%;
	font-size: 1rem;
}

#detail .contents_area .info_area .btn_area{
	width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: unset;
}

#detail .contents_area .info_area .btn_area a{
	width: 90px;
    background-color: unset;
    border: solid 1px #EA933C;
    color: #EA933C;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 15px;
    font-size: 1rem;
}

#detail .contents_area .info_area .btn_area input{
	background: unset;
    border: solid 1px #EA933C;
    color: #EA933C;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#detail .contents_area .info_area .btn_area a:hover{
	width: 90px;
    background-color: #EA933C;
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 15px;
    font-size: 1rem;
}

#detail .contents_area .info_area .btn_area input:hover{
	background: #EA933C;
    border: none;
    color: white;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

@media screen and (max-width: 720px) {
	#detail{
		box-sizing: border-box;
    	width: 90%;
    	margin: 0 auto;
   		padding: 55px 0;
	}
	
	#detail .title_area{
		font-size: 12px;
    	text-align: center;
    	border: solid 1px #707070;
    	margin: 0;
    	margin-top: 5%;
    	box-sizing: border-box;
	    padding: 5% 0;
	}
	
	#detail .contents_area{
		flex-direction: column;
    	height: auto;
    	border: solid 1px #707070;
    	border-top: unset;
	}
	
	#detail .contents_area .img_area{
		width: 100%;
    	border: unset;
	}
	
	#detail .contents_area .img_area img{
		width: 70%;
		margin: 5% auto;
	}
	
	#detail .contents_area .text_area{
		width: 100%;
	}
	
	#detail .contents_area .text_area .content_area{
		display: none;
	}
	
	#detail .contents_area .info_area{
		width: 100%;
    	height: auto;
    	border: unset;
	}
	
	#detail .contents_area .info_area ul li .left{
		font-size: 12px;
	}
	
	#detail .contents_area .info_area ul li .right{
		font-size: 10px;
	}
}