@media ( min-width :320px) {
	#footer {
		display: none;
	}
}

@media (min-width: 721px){
	#footer {
    	display: block;
	}
}

#footer {
	float: left;
	width: 100%;
	bottom: 0;
	position : relative;
/*     transform : translateY(-100%); */
/* 	z-index: 1; */
	height: 20%;
	background-color: #EDEDED;
}
#footer #wrap_footer{
	width: 1280px;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
}
#footer ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer a {
	text-decoration: none;
	color: #777777;
	font-size: 16px;
}

#footer a:hover {
	text-decoration: none;
	color: #EA933C;
	font-size: 16px;
}

#footer #line {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #CCCACA;
}

#footer .logo{
	padding-right: 70px;
}

#footer .infomation .logo img {
/* 	width: 203px; */
	height: 66px;
/* 	margin-top: 17px; */
/* 	margin-right: 72px; */
	float: left;
}

#footer .link {
	display: flex;
/* 	justify-content: space-between; */
	height: 60px;
/* 	margin-left: 320px; */
}

#footer .link .info_link {
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 10px;
}

#footer .link .info_link ul {
	display: flex;
	height: 100%;
	align-items: center;
}

#footer .link .info_link ul li:first-child {
	border-right: solid;
	border-width: 1px;
	border-color: #808080;
	padding-right: 20px;
	font-size: 16px;
}

#footer .link .info_link ul li:nth-child(2) {
	border-right: solid;
	border-width: 1px;
	border-color: #808080;
	padding: 0 20px;
	font-size: 16px;
}

#footer .link .info_link ul li:last-child {
	padding-left: 20px;
}

#footer .infomation {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	color: #777777;
	justify-content: space-between;
	font-size: 16px;
	letter-spacing: -0.64px;
	text-align: center;
	height: 90px;
	width: 100%;
/* 	padding: 0 320px; */
	padding-bottom: 5%;
	padding-top: 2%;
}

#footer .infomation .address {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 2% 0;
	justify-content: space-around;
}

#footer .infomation .address ul {
	display: flex;
}

#footer .infomation .address ul:first-child {
	margin-bottom: 1%;
}

#footer .infomation .address ul li:first-child {
	padding-right: 15px;
/* 	border-right: solid; */
/* 	border-width: 1px; */
/* 	border-color: #808080; */
}

#footer .infomation .address ul li:nth-child(2) {
/* 	padding-right: 23px; */
/* 	border-right: solid; */
/* 	border-width: 1px; */
/* 	border-color: #808080; */
}

#footer .infomation .address ul li:nth-child(3) {
	padding-left: 23px;
}